{% extends 'base.html' %}

{% block title %}add_data page{% endblock %}
{% block content %}
<form method="POST" action="/submit">
    <!-- Author Information -->
    <label for="personName" class="form-label">person Name:</label>
    <input type="text" id="personName" name="personName" required><br>

    <label for="age">Person age:</label>
    <input type="age" id="age" name="age" required><br>

    <label for="gender">gender :</label>
    <input type="text" id="gender" name="gender" required><br>

    <label for="firstname"> firstname:</label>
    <input type="text" id="firstname" name="firstname" required><br>

    <!-- Blog Information -->
    <label for="lastname"> lastname:</label>
    <input type="text" id="lastname" name="lastname" required><br>

    <label for="birthdate">birthdate:</label>
     <input type="text" id="birthdate" name="birthdate" required><br>

    <label for="birthDay"> birthDay:</label>
    <input type="text" id="birthDay" name="birthDay" required><br>

    <label for="birthMonth"> birthMonth:</label>
    <input type="text" id="birthMonth" name="birthMonth" required><br>

    <label for="birthYear"> birthYear:</label>
    <input type="text" id="birthYear" name="birthYear" required><br>


    <label for="city"> city:</label>
    <input type="text" id="city" name="city" required><br>









    <label for="rank" class="form-label">rank :</label>
    <input type="text" id="rank" name="rank" required><br>

    <label for="source">source :</label>
    <input type="text" id="source" name="source" required><br>

    <label for="finalWorth">finalWorth :</label>
    <input type="text" id="finalWorth" name="finalWorth" required><br>

    <label for="category"> category:</label>
    <input type="text" id="category" name="category" required><br>

    <!-- Blog Information -->
    <label for="organization"> organization:</label>
    <input type="text" id="organization" name="organization" required><br>

    <label for="selfMade">selfMade:</label>
     <input type="text" id="selfMade" name="selfMade" required><br>

    <label for="status"> status:</label>
    <input type="text" id="status" name="status" required><br>

    <label for="date"> date:</label>
    <input type="text" id="date" name="date" required><br>

    <label for="industries"> industries:</label>
    <input type="text" id="industries" name="industries" required><br>


    <label for="title"> title:</label>
    <input type="text" id="title" name="title" required><br>

    <label for="state"> state:</label>
    <input type="text" id="state" name="state" required><br>






    <label for="country" class="form-label">country :</label>
    <input type="text" id="country" name="country" required><br>

    <label for="countryOfCitizenship">countryOfCitizenship :</label>
    <input type="text" id="countryOfCitizenship" name="countryOfCitizenship" required><br>

    <label for="cpi_country">cpi_country :</label>
    <input type="text" id="cpi_country" name="cpi_country" required><br>

    <label for="cpi_change_country"> cpi_change_country:</label>
    <input type="text" id="cpi_change_country" name="cpi_change_country" required><br>

    <!-- Blog Information -->
    <label for="gdp_country"> gdp_country:</label>
    <input type="text" id="gdp_country" name="gdp_country" required><br>

    <label for="gross_tertiary_education_enrollment">gross_tertiary_education_enrollment:</label>
     <input type="text" id="gross_tertiary_education_enrollment" name="gross_tertiary_education_enrollment" required><br>

    <label for="life_expectancy_country"> life_expectancy_country:</label>
    <input type="text" id="life_expectancy_country" name="life_expectancy_country" required><br>

    <label for="tax_revenue_country_country"> tax_revenue_country_country:</label>
    <input type="text" id="tax_revenue_country_country" name="tax_revenue_country_country" required><br>

    <label for="gross_primary_education_enrollment_country"> gross_primary_education_enrollment_country:</label>
    <input type="text" id="gross_primary_education_enrollment_country" name="gross_primary_education_enrollment_country" required><br>


    <label for="total_tax_rate_country"> total_tax_rate_country:</label>
    <input type="text" id="total_tax_rate_country" name="total_tax_rate_country" required><br>

    <label for="latitude_country"> latitude_country:</label>
    <input type="text" id="latitude_country" name="latitude_country" required><br>

    <label for="longitude_country"> longitude_country:</label>
    <input type="text" id="longitude_country" name="longitude_country" required><br>

    <label for="residenceStateRegion"> residenceStateRegion:</label>
    <input type="text" id="residenceStateRegion" name="residenceStateRegion" required><br>

    <label for="population_country"> population_country:</label>
    <input type="text" id="population_country" name="population_country+" required><br>




    <button type="submit">Submit</button>
</form>
{% endblock %}

