{% extends 'base.html' %}

{% block title %}help page{% endblock %}
{% block content %}
<div class="main-content">
    <h2>Frequently Asked Questions (FAQs)</h2>
    <p>If you have any questions about the Billionaire Statistics website, take a look at the FAQs below.</p>

    <div class="faq-section">
        <button class="faq-button" onclick="toggleFAQ(1)">What is Billionaire Statistics?</button>
        <div id="faq1" class="faq-content">
            <p>Billionaire Statistics is a platform that provides up-to-date information and data on the world's wealthiest individuals, including their net worth, industries, and growth trends.</p>
        </div>

        <button class="faq-button" onclick="toggleFAQ(2)">How do you collect data for billionaires?</button>
        <div id="faq2" class="faq-content">
            <p>We gather data from publicly available financial reports, business news, and trusted databases to ensure the most accurate and current information about billionaires.</p>
        </div>

        <button class="faq-button" onclick="toggleFAQ(3)">Can I track a specific billionaire's net worth over time?</button>
        <div id="faq3" class="faq-content">
            <p>Yes, our platform allows you to track specific billionaires' net worth and compare it over time to see growth or decline.</p>
        </div>

        <button class="faq-button" onclick="toggleFAQ(4)">Do you update billionaire data regularly?</button>
        <div id="faq4" class="faq-content">
            <p>Yes, we update billionaire data regularly to reflect changes in net worth, business investments, and market fluctuations.</p>
        </div>
    </div>
</div>



<script>
    function toggleFAQ(faqNumber) {
        var content = document.getElementById('faq' + faqNumber);
        if (content.style.display === "block") {
            content.style.display = "none";
        } else {
            content.style.display = "block";
        }
    }
</script>
{% endblock %}